name: Upload to PNX Repo
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Configure Maven settings
        uses: s4u/maven-settings-action@v3.1.0
        with:
          servers: |
            - id: pnx-repo
              username: ${{ secrets.MVN_USERNAME }}
              password: ${{ secrets.MVN_PASSWORD }}

      - name: Deploy Terra to PNX Repo
        run: |
          mvn deploy:deploy-file \
            -DpomFile=pom.xml \
            -Dfile=./Terra.jar \
            -DrepositoryId=pnx-repo \
            -Durl=https://repo.powernukkitx.org/releases
